*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#f4f6f5;
}

/* HERO */
.hero{
  height:70vh;
  background:url("https://images.unsplash.com/photo-1500595046743-cd271d694d30") center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
}

.hero-content{
  background:rgba(0,0,0,0.45);
  padding:40px;
  border-radius:12px;
  text-align:center;
  color:white;
  width:600px;
}

.hero-content h1{
  font-size:38px;
  margin-bottom:15px;
}

.hero-content p{
  margin-bottom:20px;
}

.hero-btn{
  background:#2e7d32;
  padding:12px 25px;
  color:white;
  text-decoration:none;
  border-radius:6px;
  font-weight:bold;
}

/* CATEGORY */
.category-section{
  padding:60px 80px;
  text-align:center;
}

.category-grid{
  display:grid;
  grid-template-columns:repeat(6,1fr);
  gap:25px;
  margin-top:30px;
}

.category-card{
  background:white;
  padding:15px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
  transition:0.3s;
}

.category-card:hover{
  transform:translateY(-6px);
}

.category-card img{
  width:100%;
  height:110px;
  object-fit:cover;
  border-radius:10px;
}

/* PRODUCTS */
.product-section{
  padding:60px 80px;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
  margin-top:30px;
}

.product-card{
  background:white;
  padding:18px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.product-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:10px;
}

.product-card h3{
  margin:12px 0 5px;
}

.price{
  color:#2e7d32;
  font-weight:bold;
  margin-bottom:10px;
}

.product-card button{
  background:#2e7d32;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:6px;
  cursor:pointer;
}